#taskbar 
{
           margin-top: 675px;
           /*border: 5px solid black;*/
           width: 1500px;
           position: fixed;
           background-color: #2e2e2e;
           border: radius 5px;
           user-select: none;
}
#shell 
{
           /*border: 5px solid  rgb(145, 137, 137);*/
           border-radius: 5px;
           background-image: linear-gradient(from top bottom, black 0%, white 100%);
}
body
{
background-image: url("Focal-Fossa-wallpaper.jpg");
}